.cover-photo {
  width: 100vw;
  height: 30vh;
  margin: 0;
  object-fit: cover;
  filter: brightness(.7);
}

.post {
  width: 80vw;
  max-width: 60rem;
  margin: 0 auto;

  h1 {
    font-family: Montserrat;
    font-weight: 800;
  }
}
