@import '../styles/variables.scss';

.hero {
  position: relative;
  display: flex;
  height: 100vh;

  .menu-overlay-container {
    position: absolute;
    top: 2rem;
    right: 3rem;
  }

  .down-indicator {
    position: absolute;
    bottom: 2vh;
    right: 50%;
    font-size: 3vw;
    color: $mint-cream;
    cursor: pointer;
    z-index: 3;
    margin: 0;
  }

  .left-section {
    position: relative;
    width: 70vw;
    background: url('/assets/vertical-wave.svg') no-repeat;
    background-position: right;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    &__tagline {
      margin-left: -6rem;
      width: 50%;
      font-family: 'Montserrat';
      font-weight: 600;
      font-size: 3vw;
      color: $mint-cream;
      line-height: 1.2;
      z-index: 2;
    }
  }

  .right-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6vh 0;
    width: 30vw;

    .nav-bar {
      width: 50%;
      display: flex;
      justify-content: space-between;
      z-index: 2;
      &__item {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: calc(1rem + .3vw);
        color: $dark-purple;
        transition: color 0.1s;

        &:hover,
        &:focus {
          color: $red-crayola;
        }

        &.active {
          font-weight: 800;
          color: $red-crayola;
        }
      }
    }

    .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: 'Montserrat';
      flex-grow: 1;
      z-index: 2;

      img {
        width: 15vw;
        height: auto;
        border-radius: 50%;
      }

      &__name {
        font-weight: 600;
        font-size: 4vh;
        letter-spacing: -1px;
        margin-top: 1rem;
      }

      &__title {
        font-size: 2vh;
        margin-top: 0.5rem;
      }
    }

    .footer {
      display: flex;
      justify-content: center;
      z-index: 2;

      img {
        width: 1.5vw;
        height: auto;
      }

      a:first-child {
        margin-right: 3rem;
      }
    }
  }
}

.hero-anchor {
  position: absolute;
  top: 0;
  left: 0;
}

.main {
  position: relative;
  min-height: 100vh;
  padding: 10vh 10vw;

  h1,
  h2 {
    color: $dark-green;
  }

  section {
    margin-bottom: 10vh;
  }

  .introduction {
    h1 {
      font-family: 'Montserrat';
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.5rem;
      font-family: 'Source Sans Pro';

      a,
      button {
        color: $red-crayola;
        text-decoration: underline;
        transition: color 0.2s;

        &:hover {
          color: #d30f36;
        }
      }
    }
  }

  .projects {
    h2 {
      font-family: 'Montserrat';
      font-size: 2rem;
      margin-bottom: 4rem;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;

      & > * {
        margin-right: 2vw;
        margin-bottom: 1rem;
      }

      .card {
        width: 20vw;
        min-width: 10rem;
      }

      &__see_all {
        width: fit-content;
        margin-right: 0;
        align-self: center;
        color: $red-crayola;
        font-weight: 700;
        font-family: 'Montserrat';
        transition: color 0.2s;
      }

      &__see_all:hover {
        color: #d30f36;
      }
    }
  }

  footer {
    min-height: 8vh;
    background-color: $dark-green;
    position: absolute;
    bottom: 0;
    width: 100vw;
    margin-left: -10vw;
    display: flex;
    color: $mint-cream;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 4vh 0;
    font-size: .8rem;

    img {
      width: 1rem;
      height: auto;
      filter: invert(100%) sepia(0%) saturate(7460%) hue-rotate(286deg)
        brightness(112%) contrast(96%);
      margin-left: 1rem;
    }
  }
}

@media (orientation: portrait) {
  .hero {
    flex-direction: column;

    .down-indicator {
      font-size: 4vh;
      color: $dark-green;
      right: calc(50% - 3vh);
    }

    .left-section {
      height: 50vh;
      width: 100vw;

      background: url('/assets/horizontal-wave.svg') no-repeat;
      background-size: cover;
      background-position: bottom;

      &__tagline {
        margin-left: 0;
        width: 75%;
        font-size: 4vh;
        text-align: center;
      }
    }

    .right-section {
      height: 50vh;
      width: 100vw;
      justify-content: flex-start;

      .nav-bar {
        display: none;
      }

      .profile {
        flex-grow: inherit;

        img {
          height: 20vh;
          width: auto;
        }

        &__name {
          font-size: 5vh;
          margin-top: 1rem;
        }

        &__title {
          font-size: 2.5vh;
          margin-top: 0.5rem;
        }
      }

      .footer {
        margin-top: 1rem;

        img {
          width: 2vh;
          height: auto;
        }

        a:first-child {
          margin-right: 1rem;
        }
      }
    }
  }

  .main {
    padding: 5vh 10vw;

    .introduction {
      p {
        font-size: 1.2rem;
      }
    }

    .projects {
      display:flex;
      flex-direction: column;
      align-items: center;

      .cards {
        display: flex;
        flex-direction: column;
        align-items: center;

        &>*{
          margin-bottom: 3rem;
        }

        .card {
          width: 75vw;
          max-width: 40rem;
        }
      }
    }
  }
}
