// Colors
$mint-cream: #f4fffd;
$dark-green: #053225;
$light-green: #019c70;
$naples-yellow: #f9dc5c;
$red-crayola: #ed254e;
$mid-red-crayola: #e0002d;
$dark-red-crayola: #a50425;
$dark-purple: #210124;
$light-purple: #2f0033;
$mid-gray: #707070;
$light-orange: #EDC03E;

$montserrat: 'Montserrat', sans-serif;
